body{
    background-color: rgb(154, 99, 180);
    font-size:large;
}
#div2{
    width:80%;
    /* height: 100%; */
    float: right;
    /* background:  #81a2e8; */
}    
#rec2{
    width:20%;
    /* height:100%; */
    float:left;
    /* background: #3fa972; */
    }
#divfirst{
    width:41%;
    /* height: 100%; */
    float: left;
    /* background:  #81a2e8; */
}
#divsecond{
    width:59%;
    /* height:100%; */
    float:right;
    /* background: #3fa972; */
}

#windowmain{
    width:100%;
    height:420px;
    font-size:larger;
}
#mark{
    color: rgb(4, 86, 48);
    font-size:x-large;
}